{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center;">{{title}}</h1>

<div class="container">
  <div class="jumbotron " style="color:rgb(47, 39, 52)">
    <h1><strong><u>About Me :-</u></strong></h1>

    <div class="row">

      <div class="col-sm-8">
        <h2> <u>Education:-</u></h2>
        <ul>
          <li><strong>2019:- B.E in (Electrical and Electronics Engineering)</strong><br>
            AMC ENGINEERING COLLEGE , (Visvesvaraya Technological University) from Bangalore.
          </li>
          <br>
          <li>	<strong>2014:- 12th(76%):-</strong><br>
            <strong>12TH</strong> from All India Senior School Certificate Examination from Central Board of Secondary Education, Blue Bells Model School, Gurgaon.
          </li>
          <br>
          <li><strong>2012 10th (CGPA-8.2):-</strong><br>
            <strong>10TH</strong>   from All India Secondary School Certificate Examination from Central Board of Secondary Education, Blue Bells Model School,Gurgaon.
          </li>
        </ul>
        <br>
        <h2><u>Events:-</u></h2>
        <ul>
          <li>Attending workshop in renewable energy & Energy conservation in AMC COLLEGE</li>

          <li>Participated in COLOSSEUM 2K15 Basket Ball events, AMC College.

          </li>


        </ul>

      </div>
      <div class="col-sm-4">
        <h4><strong><u>Skills:-</u></strong></h4>
        <ul>

          <li>Python</li>
          <li>Django</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Bootstrap</li>
          <li>Intermidiate javascript</li>

          <li>Revit(M.E.P)</li>
        </ul>

      </div>
    </div>
  </div>
</div>




{% endblock %}
