{% extends "base.html" %}
{% block content %}

<h1 style='text-align:center;'>Available Products:-</h1>
<div class="container my-5">
  <div class="row">
{% for obj in object_list %}
  <div class="col-4 my-4">
    <!-- {{ forloop.counter }} -->
  {% include "products/snippets/cards.html" with instance=obj %}
  <!--{% if forloop.counter|divisibleby:3 %}
    </div></div><div class="row"><div class='col-12'><hr></div>
  {% else %}
    </div>
  {% endif %} -->
</div>
{% endfor %}
</div>
  </div>
{% endblock %}
