{% load static %}
<!--bootstrap file -->
<link rel="stylesheet" href="{% static "vendor/css/bootstrap-reboot.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/css/bootstrap-grid.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/css/bootstrap.min.css" %}">
<!--ionicons file -->
<link rel="stylesheet" href="{% static "vendor/css/ionicons.min.css" %}">
<!--normalize file -->
<link rel="stylesheet" href="{% static "vendor/css/normalize.css" %}">
<!--
<link rel="stylesheet" href="{% static "vendor/css/" %}">
<link rel="stylesheet" href="{% static "vendor/css/" %}">
<link rel="stylesheet" href="{% static "vendor/css/" %}">
-->


<!--css file -->
<link rel='stylesheet' href='{% static "resources/css/main.css" %}'>
<!-- Fontawesome CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--00jquery confirm -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<!-- stripe custom style -->
<link rel="stylesheet" href={% static "resouces/css/stripe-custom-style.css" %}>
<!-- other css -->
<link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="myProjects/webProject/icofont/css/icofont.min.css">
